body{
    background-color: black;
    font-family: 'Nunito', sans-serif;
}

h1{
    color:white;
    font-size:50px;
    margin-bottom: 5px;
}
.container{
    text-align:center;
}
table{
    margin:auto;
}

input{
    font-size: 35px;
    margin:5px;
    border-radius: 10px;
    text-align: right;
    border:none;
    outline:none;
    width:550px;
    height: 60px;
}

button{
    font-size:30px;
    background:white;
    width: 130px;
    height: 60px;
    border-radius: 15px;
    border:none;
}



/* Media Queries */

/* @media only screen and (max-width:600px)
{
    .container{
        font-size:20px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        width:100%;
       
    }
}
@media only screen and (max-width:768px)
{
    html{
        font-size:40px;
    }
} */


